@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

a {
  color: #47a3d1;
}

a:hover {
  color: #2e8ab8;
}

body {
  background-color: #fffdfa;
  color: #71685b;
}

.ui.checked.toggle.checkbox input:checked ~ label::before {
  background-color: #47a3d1 !important;
}

.ui.header,
.ui header h1 a {
  color: #71685b;
}

.ui.grid .row.transaction {
  padding: 0;
}

.ui.grid .row.transaction .column.message-icon {
  padding: 2rem;
}

.ui.grid .row.transaction .column.message-icon .top-message {
  background-color: #ff9f1a;
  box-shadow: none;
  color: #fff;
}

.ui.grid .row.transaction .column.message-icon .most-recent-message {
  color: #d2c3ac;
  font-size: 3rem;
  margin: 0 0 0 -0.25rem;
}

.ui.grid .row.transaction .column.message-icon .standard-message {
  color: #d2c3ac;
  margin-left: 0.5rem;
  margin-right: 0;
}

.ui.grid .row.transaction .column.message-body {
  padding: 2rem;
}

.ui.grid .row.transaction .column.message-value {
  padding: 0.75rem 1rem;
}

.row.transaction:nth-child(odd) {
  background-color: #fffdfa;
}

.row.transaction:nth-child(even) {
  background-color: #f8f3ed;
}

.ui.small.header {
  color: #47a3d1;
}

.nem-address {
  background-color: #71685b;
  border: 0;
  border-radius: 0.25rem;
  color: #fffdfa;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.nem-address:active {
  color: #ff9f1a;
}

.nem-address::selection {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .ui .form .fields .field {
    margin-bottom: 1rem;
  }

  .ui.container > .ui.stackable.grid > .column,
  .ui.container > .ui.stackable.grid > .row > .column {
    padding: 0.5rem 0.75rem !important;
  }

  .ui.container > .ui.stackable.grid > .row > .column.message-icon {
    padding: 0.5rem !important;
  }

  .ui.grid .row.transaction .column.message-icon .top-message,
  .ui.grid .row.transaction .column.message-icon .most-recent-message,
  .ui.grid .row.transaction .column.message-icon .standard-message {
    margin: 0;
  }
}
